<!DOCTYPE <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Dispersão</title>
        <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
        <script src="main.js"></script>
    </head>
    <body>
        <div>
            <p>Selecione a opção:</p>
            <form action="/graficodebarras" method="POST">							   
                <input type="radio" name="Quali" value="1quali"/> 1 Quali e 1 Quanti <br/>
                <input type="radio" name="Quanti" value="2quali"/> 2 Quali e 1 Quanti <br/>
            <div class="button">
                <button type="submit">Próximo</button>
            </div>
            </form> 
        </div> 
    </body>
</html>