<!DOCTYPE <!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>BoxPlot</title>
        <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
        <script src="main.js"></script>
    </head>
    <body>
        <div>
            <p>Selecione a coluna:</p>
            <form action="/graficoboxplot" method="POST">
                <input type="radio" name="Coluna1" value="Imagem"/> Imagem <br/>
                <input type="radio" name="Coluna1" value="Utilitario"/> Utilitario <br/>
                <input type="radio" name="Coluna1" value="Preco"/> Preco <br/>
                <input type="radio" name="Coluna1" value="Idade"/> Idade <br/>
                <input type="radio" name="Coluna1" value="Renda"/> Renda <br/>
            <div class="button">
                <button type="submit">Gerar</button>
            </div>
            </form> 
        </div> 
    </body>
</html>