<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">

    <title>Dashboards de analise</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <!--<link href="dashboard.css" rel="stylesheet">-->
  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Interative</a>
      
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active">
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/home">
                  <span data-feather="file"></span>
                  Dispersão
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="shopping-cart"></span>
                  Histograma
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="users"></span>
                  Box Plot
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="bar-chart-2"></span>
                  Reports
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="layers"></span>
                  Multicolinearidade
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            <div>
              <p>Selecione uma coluna:</p>
              <form action="/graficodispersao" method="POST">							   
                  <input type="radio" name="Coluna1" value="Imagem"/> Imagem <br/>
                  <input type="radio" name="Coluna1" value="Utilitario"/> Utilitario <br/>
                  <input type="radio" name="Coluna1" value="Preco"/> Preco <br/>							   
                <p>Selecione uma coluna:</p>
                  <form action="/graficodispersao" method="POST">							   
                      <input type="radio" name="Coluna2" value="Imagem"/> Imagem <br/>
                      <input type="radio" name="Coluna2" value="Utilitario"/> Utilitario <br/>
                      <input type="radio" name="Coluna2" value="Preco"/> Preco <br/>
                    <div class="button">
                        <button type="submit">Gerar</button>
                    </div>
                </form> 
            </div>
          </div>
          
          

          <!--<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>-->
        </main>
      </div>
    </div>
  </body>
</html>